body {
   padding-top: 50px;
   font-family:
                /*"HelveticaNeue-Ultralight",*/
                "HelveticaNeue-Light",
                "Helvetica Neue",
                Helvetica,
                Arial,
                "Lucida Grande",
                sans-serif;
}

nav a {
    font-family:
                "HelveticaNeue-Ultralight",
                "HelveticaNeue-Light",
                "Helvetica Neue",
                Helvetica,
                Arial,
                "Lucida Grande",
                sans-serif;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgba(0,0,0,0.9);
    color: white;
}

a {
    color: darkslategray;
}

a:visited {
    color: slategray;
}

/* mouse over link */
a:hover {
    color: purple;
    background-color: #ccc;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

h2, h3, #publications h4, #press h4, .cbtn {
    text-shadow: #ccc 0.1em 0.1em 0.2em;
}

a {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.transition {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.boxshadow {
    box-shadow: 0 0px 36px 1px #111;
}

.boxshadow-inv {
    box-shadow: 0 0px 36px 1px #ccc inset;
}

.light-shadow {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.light-shadow:before, .light-shadow:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    z-index: 11;
}
#return-to-top i {
    color: white;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.88);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

ul.dropdown-menu {
    background-color: rgba(0,0,0,0.8);
}

.dropdown-menu>li>a {
    color: #9d9d9d;
}

.about-parallax-bg {
    padding-top: 50px;
    background-image: url("../img/blackrock.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/*    min-height: 800px;*/
}

#about-pane {
    padding: 22px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.42);
}

#picture {
    padding: 0px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0);
}

#mini-bio > h1 {
    color: rgba(255,255,255,0.77);
    font-family:
                "HelveticaNeue-Ultralight",
                "HelveticaNeue-Light",
                "Helvetica Neue",
                Helvetica,
                Arial,
                "Lucida Grande",
                sans-serif
                ;
}

#mini-bio > p {
    color: rgba(255,255,255,0.77);
    font-family:
/*                "HelveticaNeue-Ultralight",*/
/*                "HelveticaNeue-Light",*/
                "Helvetica Neue",
                Helvetica,
                Arial,
                "Lucida Grande",
                sans-serif
                ;
}

#mini-bio a {
    color: lightblue;
    opacity: 0.77;
}

#mini-bio a:visited {
    color: aqua;
    opacity: 0.77;
}

/* mouse over link */
#mini-bio a:hover {
    color: purple;
    background-color: #ccc;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#misc-btns {
    opacity: 0.66;
}

#about, #work, #education, #services, #publications, #press {
    padding-bottom: 50px;
}

.before-services-parallax-bg {
    background-image: url("../img/dc.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 611px;
}

.before-pub-parallax-bg {
    background-image: url("../img/milano.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 611px;
}

.before-press-parallax-bg {
    background-image: url("../img/turino.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 611px;
}

.before-copyright-parallax-bg {
    background-image: url("../img/fortaleza.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1200px;
    position: relative;
}

#before-services, #before-pub, #before-press, #copyright-pane {
    text-align: center;
}

#before-services a, #before-pub a, #before-press a {
    color:gainsboro;
}

/* mouse over link */
#before-services a:hover, #before-pub a:hover, #before-press a:hover {
    color: white;
    background-color: #ccc;
    text-decoration:none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#copyright {
    position: absolute;
    bottom: 0;
/*    left: 0;*/
}
