body {
    padding-top: 50px;
    padding-bottom: 30px;
}

a {
    color: darkslategray;
}

a:visited {
    color: slategray;
}

/* mouse over link */
a:hover {
    color: purple;
    background-color: #ccc;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

h1, h2, h3, h4, .cbtn {
    text-shadow: #ccc 0.1em 0.1em 0.2em;
}

.transition {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.boxshadow {
    box-shadow: 0 0px 36px 1px #111;
}

.boxshadow-inv {
    box-shadow: 0 0px 36px 1px #ccc inset;
}

.effect6 {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect6:before, .effect6:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

lightem {
   font-family:
                /*"HelveticaNeue-Ultralight",*/
                /*"HelveticaNeue-Light",*/
                /*"Helvetica Neue",*/
                Helvetica,
                Arial,
                "Lucida Grande",
                sans-serif
                ;
}

body {
   font-family:
                /*"HelveticaNeue-Ultralight",*/
                "HelveticaNeue-Light",
                "Helvetica Neue",
                Helvetica,
                Arial,
                "Lucida Grande",
                sans-serif
                ;
}
